
body,
content {
  color: #333333;
  margin: 20%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", "DejaVu Sans", sans-serif
  text-align: justify;
  text-justify: inter-word;
  white-space: pre-line;
}

div {
  text-align: justify;
  text-justify: inter-word;
}

/*Headerline*/
/** First page **/
.first-page{
  padding: 0px 0px 30% 0px;
  page-break-after: always;
}
.first-page-title{
  padding: 0px 0px 10% 0px;
  page-break-after: always;
}
.first-page-author{
  padding: 0px 0px 0% 0px;
  page-break-after: always;
}
.first-page-version{
  padding: 0px 0px 0% 0px;
  page-break-after: always;
}
.first-page-date{
  padding: 0px 0px 0% 0px;
  page-break-after: always;
}

/*Table of Content (ToC)*/
.toc-list {
  padding: 0px 0px 0px 0px;
}

.toc-list li{
  list-style-type: none;
}

.toc-list[level='1']{
  padding: 0px 10% 0px 10%;
  border-style: solid;
  border-left-color: #fff;
  border-right-color: #fff;
  border-width: 1px;
}

/* Tags */
.tags-list,
.tags-list-element{
  /* Do not justify to do not strech tags */
  padding: 0px 0px 0px 0px;
  text-align: left;
  text-justify: none;
  page-break-inside: avoid;
  list-style-type: none;
  display: inline-block;
}

.tag {
    margin: 2px 2px 2px 2px;
    padding: 0px 10px 0px 10px;
    background-color: #EECC66;
    border-radius: 25px;
    color: #333333;
    white-space: pre-line;
    display: inline-block;
}

/* Links rendering */
a {
  color: #333333;
  text-decoration: underline;
}

/* Quote */
blockquote {
  display: block;
  padding: 9.5px;
  margin: 0 0 0 0px;
  font-size: 13px;
  text-align: justify;
  text-justify: inter-word;
}

/*Code and others*/
code {
  white-space: pre-wrap;
}

figcaption {
  padding: 0px 0px 0px 0px;
  text-align: center
}

img {
 width: 100%;
 height: 100%;
 text-align: center;
}

iframe {
 width: 100%;
 height: 400px;
 text-align: center;
}
}